{% extends "porabaapp/base.html" %}

{% block main %}
    <form class="container login">
        <h2 style="text-align: center; font-size: 30px; color: black">Prosimo vnesite podatke</h2>
        <div class="row form">
            <div class="col" style="width:50px; font-size:35px"><i class="fa fa-circle"></i></div>
            <div class="skrij">
                <input class="podatki" name="first" id="znamka" type="text" placeholder="Znamka avtomobila" required=required>
            </div>
        </div>
        <div class="row form">
            <div class="col" style="width:50px; font-size:35px"><i class="fa fa-circle"></i></div>
            <div class="skrij">
                <input class="podatki" name="last" id="serija" type="text" placeholder="Serija avtomobila" required=required>
            </div>
        </div>
        <div class="row form">
            <div class="col" style="width:50px; font-size:35px"><i class="fa fa-circle"></i></div>
            <div class="skrij">
                <input class="podatki" name="last" id="model" type="text" placeholder="Model avtomobila" required=required>
            </div>
        </div>
        <div class="row form">
            <div class="col" style="width:50px; font-size:35px"><i class="fa fa-circle"></i></div>
            <div class="skrij">
                <input class="podatki" name="last" id="višina" type="number" placeholder="Višina avtomobila (mm)" required=required>
            </div>
        </div>
        <div class="row form">
            <div class="col" style="width:50px; font-size:35px"><i class="fa fa-circle"></i></div>
            <div class="skrij">
                <input class="podatki" name="last" id="dolžina" type="number" placeholder="Dolžina avtomobila" required=required>
            </div>
        </div>
        <div class="row form">
            <div class="col" style="width:50px; font-size:35px"><i class="fa fa-circle"></i></div>
            <div class="skrij">
                <input class="podatki" name="last" id="tip" type="text" placeholder="Tip goriva" required=required>
            </div>
        </div>
        <div class="row form">
            <div class="col" style="width:50px; font-size:35px"><i class="fa fa-circle"></i></div>
            <div class="skrij">
                <input class="podatki" name="last" id="rezervoar" type="text" placeholder="Velikost rezervoarja" required=required>
            </div>
        </div>
        <div class="row form">
            <div class="col" style="width:50px; font-size:35px"><i class="fa fa-circle"></i></div>
            <div class="skrij">
                <input class="podatki" name="last" id="poraba" type="text" placeholder="Povprečna poraba" required=required>
            </div>
        </div>
        <div class="row form">
            <div class="col" style="width:50px; font-size:35px"><i class="fa fa-photo"></i></div>
            <div class="skrij">
                <input type="file" accept="image/*" id="capture" required=required style="float: left;margin-top: 15px" data-capture="camera"><img src="{% static 'images/no_image.png' %}" id="output" alt="No image" class="thumb">
            </div>
        </div>
        <button type="submit" class="gumb" style="margin-left: 47%" onclick="profil()">Pošlji</button>
    </form>
{% endblock %}