{% extends "porabaapp/base.html" %}

{% block main %}
<div class="first-grid row-padding container">
    <div id="rezultat" class="content" style="margin-top: 50px;margin-bottom: 50px">
        <h2 style="padding: 10px">Moji avtomobili:</h2>
        <select size="3" class="options-profil third">
            <option value="volvo">Volvo A8 super edition</option>
            <option value="saab">Saab K sport</option>
            <option value="opel">Opel Astra 2015</option>
        </select>
        <img class="third img-iskanje" style="float: right;padding: 0px" src="{% static 'images/kamion.jpg' %}" alt="avto"/>
        <form action="#" style="float: left;margin: 15px">
            <label style="margin-left: 20px">Poraba:</label> <input type="number" name="poraba" step="0.1" class="podatki" style="margin-left: 20px" value="6.0"><br>
            <input type="submit" value="Submit" class="gumb" style="margin-left: 20px">
        </form>
    </div>
    <hr>
    <div id="podatki" class="content" style="margin-top: 100px">
        <table class="table striped half" style="float: left!important;font-size: 20px; margin-top: 40px">
            <tr>
                <th style="font-size:25px">Specifikacije</th>
                <th style="font-size:25px">Vrednost</th>
            </tr>
            <tr>
                <td>Višina</td>
                <td>1484 mm</td>
            </tr>
            <tr>
                <td>Dolžina</td>
                <td>3562 mm</td>
            </tr>
            <tr>
                <td>Tip goriva</td>
                <td>Dizel</td>
            </tr>
            <tr>
                <td>Velikost rezervoarja</td>
                <td>67.5 l</td>
            </tr>
            <tr>
                <td>Povprečna poraba</td>
                <td>6,4 l na 100 km</td>
            </tr>
        </table>
        <img class="third img-iskanje" style="float: right!important;padding: 0px" src="{% static 'images/graph.jpg' %}" alt="graf"/>
    </div>
    <hr>
</div>
<div id="section" class="content" >
    <form>
        <div id="com">
            <textarea name="comments" id="comments" class="kom-box">Komentiraj!</textarea>
        </div>
        <input id="but1" type="button" value="Komentiraj"  class="gumb" onclick="komentar()">
    </form>
    <div id="c1" class="komentarji" style="display: block!important;">
        <h2>Joža</h2>
        <p>To je komentar, ta komentar je napisal uporabnik Joža za uporabnika test.</p>
    </div>
    <div id="c2" class="komentarji" style="display: block!important;">
        <h2>Janez</h2>
        <p>To je komentar, ta komentar je napisal uporabnik Janez za uporabnika test.</p>
    </div>
    <div id="c3" class="komentarji" style="display: block!important;">
        <h2>hasan</h2>
        <p>To je komentar, ta komentar je napisal uporabnik hasan za uporabnika test.</p>
    </div>
</div>
{% endblock %}
