{% extends "porabaapp/base.html" %}

{% block main %}
    <form class="container login">
        <h2 style="text-align: center; font-size: 30px; color: black">Prosimo vnesite podatke</h2>
        <div class="row form">
            <div class="col" style="width:50px; font-size:35px"><i class="fa fa-user"></i></div>
            <div class="skrij">
                <input class="podatki" name="first" id="ime" type="text" placeholder="Ime" required=required>
            </div>
        </div>
        <div class="row form">
            <div class="col" style="width:50px; font-size:35px"><i class="fa fa-user"></i></div>
            <div class="skrij">
                <input class="podatki" name="last" id="priimek" type="text" placeholder="Priimek" required=required>
            </div>
        </div>
        <div class="row form">
            <div class="col" style="width:50px; font-size:35px"><i class="fa fa-envelope-o"></i></div>
            <div class="skrij">
                <input  class="podatki" name="email" id="email" type="email" placeholder="Email" required=required>
            </div>
        </div>
        <div class="row form">
            <div class="col" style="width:50px; font-size:35px"><i class="fa fa-phone"></i></div>
            <div class="skrij">
                <input class="podatki" title = "Telefonska številka: Format: 012 345 678"  name="phone" id="telefon" type="tel" placeholder="Telefon" required=required pattern='\d{3}[\ ]\d{3}[\ ]\d{3}'>
            </div>
        </div>
        <div class="row form">
            <div class="col" style="width:50px; font-size:35px"><i class="fa fa-photo"></i></div>
            <div class="skrij">
                <input type="file" accept="image/*" id="capture" required=required style="float: left;margin-top: 15px" data-capture="camera"><img src="/assets/no_image.png" id="output" alt="No image" class="thumb">
            </div>
        </div>
            <button type="submit" class="gumb" style="margin-left: 47%">Pošlji</button>
    </form>
{% endblock %}
