header, footer {
  background:#101010 ;
}
.header-links {
  float:right;
  clear:right;
}
footer {
  clear:both;
}
body {
  background:grey;
  margin: auto;
}

.centered-content {
  /*max-width:960px;*/
}

.main {
  min-height:1000px;
  background:#E8E8E8;
}

.content {
  margin-left: 100px;
  margin-top: 200px;
}
article form label {
  float:left;
  width:120px;
  clear:left;
}
.no-fixed-width {
  width:auto;
}
article form input,
article form textarea {
  float:left;
}
.content article {
  clear:both;
}
nav {
  display:block;
  width:20%;
  float:left;
}
.content {
  width:75%;
  float:left;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  width: 30%;
  height:30%;
  left:40%;
  top:40%;
  margin-left:-5%;
  margin-top:-5%;
  position: absolute;
}

.popup h2 {
  margin-top: 0;
  text-align: center;
  color: #333;
  font-family: arial, sans-serif;
  font-size: 50px;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .popcontent {
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 20px;
}

.popup .prijava {
  font-family: arial, sans-serif;
  font-size: 20px;
}