ul.topnav {
    font-size: large;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f44336;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: black;
    background-color:#f44336;
    text-align: left;
    padding: 14px 16px;
    transition: 0.3s;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: white;
}

ul.topnav li a.active {
    background-color: white;
    color: black;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 601px){

}

ul.topnav li a:hover {
    background-color: white;}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:601px) {
    ul.topnav li.right,ul.topnav li {
        float: none!important;
    }
    ul.topnav li:not(:first-child) {
        display: none;
    }
    ul.topnav li.icon {
        float: right!important;
        display: inline-block!important;
    }
    ul.topnav li a:hover:not(.active) {
        background-color: white;
        opacity: 0.9;
    }
    ul.topnav {
        position: relative!important;

    }
    ul.topnav li.icon {
        position: absolute!important;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none!important;
        display: inline!important;
    }
    ul.topnav.responsive li a {
        display: block!important;
        text-align: left!important;
    }
    body{
        overflow-x:hidden!important;
    }
    .img-iskanje {
        padding:50px 0px 0px 0px!important;
    }
}

.hide {
    display: none !important
}

.responsive{
    overflow-x:auto
}

.container:after,.panel:after,.row:after,.row-padding:after,.content:after,.topnav:after,.clear:after,.table:before,.img-iskanje:after
{
    content:"";
    display:table;
    clear:both
}

.col,.half,.third,.twothird,.threequarter,.quarter{
    float:left;width:100%
}

.col.s1{width:8.33333%}
.col.s2{width:16.66666%}
.col.s3{width:24.99999%}
.col.s4{width:33.33333%}
.col.s5{width:41.66666%}
.col.s6{width:49.99999%}
.col.s7{width:58.33333%}
.col.s8{width:66.66666%}
.col.s9{width:74.99999%}
.col.s10{width:83.33333%}
.col.s11{width:91.66666%}

.col.s12,.half,.third,.twothird,.threequarter,.quarter{
    width:99.99999%
}

@media only screen and (min-width:601px){
    .col.m1{width:8.33333%}
    .col.m2{width:16.66666%}
    .col.m3,.quarter{width:24.99999%}
    .col.m4,.third{width:33.33333%}
    .col.m5{width:41.66666%}
    .col.m6,.half{width:49.99999%}
    .col.m7{width:58.33333%}
    .col.m8,.twothird{width:66.66666%}
    .col.m9,.threequarter{width:74.99999%}
    .col.m10{width:83.33333%}
    .col.m11{width:91.66666%}
    .col.m12{width:99.99999%}
}

@media only screen and (min-width:993px){
    .col.l1{width:8.33333%}
    .col.l2{width:16.66666%}
    .col.l3,.quarter{width:24.99999%}
    .col.l4,.third{width:33.33333%}
    .col.l5{width:41.66666%}
    .col.l6,.half{width:49.99999%}
    .col.l7{width:58.33333%}
    .col.l8,.twothird{width:66.66666%}
    .col.l9,.threequarter{width:74.99999%}
    .col.l10{width:83.33333%}
    .col.l11{width:91.66666%}
    .col.l12{width:99.99999%}
}

header{
    background-color:#f44336;
    color:#fff;
    text-align:center;
    padding-top:128px;
    padding-bottom:128px;
}

.content{
    max-width:1080px;
    margin:auto
}

.content1{
    max-width:1080px;
    margin:auto
}


.hide{
    display:none!important
}

.container{
    padding:0.01em 16px
}

.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col{
    padding:0 8px
}

.table{
    border-collapse:collapse;
    border-spacing:0;
    display:table;
    float:left;
    padding:0px 32px 0px 0px;
    text-align:center
}

.table td,.table th{
    padding:8px 8px 0px 0px;
    display:table-cell;
    text-align:left;
    vertical-align:top
}
.table th:first-child,.table td:first-child{
    padding-left:0px
}

.striped tbody tr:nth-child(even){
    padding-left:10px;
    background-color:white;
}

.select{
    padding:9px 0;
    color:#000;
    border:1px solid transparent;
    border-bottom:1px solid #009688
}

.options-left{
    float:left;
    padding:9px 0;
    color:#000;
    border:1px solid #ccc;
    border-bottom:2px solid #009688;
}

.options-mid{
    margin-left:12.49%;
    margin-right:12.49%;
    padding:9px 0;
    color:#000;
    border:1px solid #ccc;
    border-bottom:2px solid #009688
}

.options-right{
    float:right;
    padding:9px 0;
    color:#000;
    border:1px solid #ccc;
    border-bottom:2px solid #009688;

}

@media screen and (max-width:600px){
    .options-mid{
        margin: 25px 0 auto auto;
    }
    .options-right{
        margin: 25px 0 auto auto;
    }
    .izracun {
        width: 80%!important;
    }
}

.img-iskanje{
    float:left;
    padding:50px 100px 0px 0px;
}


.first-grid{
    color:#000;
    background-color:#f1f1f1;
    padding-top:32px;
    padding-bottom:64px;
}

.nav-list{
    text-align: left;
    font-size:18px;
    color:#fff;
    background-color:#000;
}

.kalkulator{
    color:#000;
    background-color:ghostwhite;
    padding-top:64px;
    padding-bottom:64px;
}

#map {
    height: 400px;
    width: 100%;
}


.gumb {
    background-color: #f44336;
    margin-top:24px;
    margin-bottom:24px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 8px;
}

.options-profil {
    float:left;
    padding:20px;
    font-size: 30px;
    margin: 10px;
    color:#000;
    border:1px solid #ccc;
    border-bottom:2px solid #009688;
}

div.komentarji {
    background-color: darkgrey;
    color: black;
    margin: 20px 0 20px 0;
    padding: 20px;
    display: none;
}

.thumb {
    height: 100px;
    width: 100px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.izracun {
    background-color: lightgray;
    color: black;
    width: 38%;
    max-width:1080px;
    margin: 20px 0 20px 0;
    padding: 20px;
    float: left;
}

@media only screen and (max-width:420px){
    .map {
        display: none;
    }
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif
}
.topnav ,h1,button {
    font-family: "Montserrat", sans-serif
}

footer {
    color: darkgray;
    text-align: center;
}



